/* ACE IN THE HOLE COLOR/FONT PALETTE */
/* Default non-palette light/dark colors for text and background */
@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alfa Slab One Regular'), local('AlfaSlabOne-Regular'), url(https://fonts.gstatic.com/s/alfaslabone/v9/6NUQ8FmMKwSEKjnm5-4v-4Jh6dU.ttf) format('truetype');
}
/* RESPONSIVE NAVIGATION */
.navigation {
  height: 70px;
  background: #fff;
}
.brand {
  position: absolute;
  float: left;
  left: 15px;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
.brand img {
  padding-top: 10px;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #fff;
  color: #000;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: red;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: -7px;
  right: 10px;
  background: #fff;
  height: 69px;
  width: 70px;
}
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
    margin-right: 4px;
    margin-top: 4px;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/* RESPONSIVE NAVIGATION END */
/* BODY */
body,
html {
  padding: 0;
  font-family: 'Alfa Slab One', cursive;
  max-width: 1200px;
  margin: 0 auto;
}
main {
  background-color: #ff0000;
}
.content {
  height: 100px;
  border: 1px dotted #000000;
  margin-right: 1em;
  margin-left: 1em;
  background-color: #ffffff;
}
/* BODY END */
.hero-image {
  background-image: url("../images/ace10.jpg");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1000;
}
/* FOOTER */
footer {
  width: 100%;
  background-color: #ffffff;
  height: 115px;
  font-size: 15px;
}
.footernav {
  float: right;
  padding-top: 3em;
}
.footernav a {
  color: #000000;
  text-decoration: none;
  margin-right: 3.5em;
}
footer img {
  padding-top: 1.5em;
  width: 80px;
  margin-top: 1em;
}
#copyright {
  text-align: center;
  font-size: 7px;
  padding-top: 13em;
  color: #333333;
}
/* FOOTER END */
/* DESKTOP RESOLUTION */
@media screen and (min-width: 1025px) {
  .hero-image {
    background-image: url("../images/ace10.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1000;
  }
  header {
    position: relative;
  }
  nav {
    margin-right: -6em;
  }
  section#top.content {
    width: 25%;
    display: block;
    float: right;
    height: 400px;
  }
  section#second-section.content {
    width: 72%;
    display: block;
    height: 200px;
  }
  section#third-section.content {
    width: 72%;
    display: block;
    height: 200px;
  }
  section#fourth-section.content {
    display: none;
  }
  section#fifth-section.content {
    display: none;
  }
  section#left-bottom.content {
    width: 50%;
    height: 300px;
  }
  section#right-bottom.content {
    width: 50%;
    float: right;
    height: 300px;
  }
  footer {
    position: relative;
  }
  footer img {
    width: 100px;
    margin: 1em;
  }
  #copyright {
    text-align: center;
    font-size: 9px;
    padding-top: 12em;
    color: #333333;
  }
}
/*# sourceMappingURL=style.css.map */