/* ACE IN THE HOLE COLOR/FONT PALETTE */
/* Default non-palette light/dark colors for text and background */
@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alfa Slab One Regular'), local('AlfaSlabOne-Regular'), url(https://fonts.gstatic.com/s/alfaslabone/v9/6NUQ8FmMKwSEKjnm5-4v-4Jh6dU.ttf) format('truetype');
}
@font-face {
  font-family: 'Balsamiq Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Balsamiq Sans Bold Italic'), local('BalsamiqSans-BoldItalic'), url(https://fonts.gstatic.com/s/balsamiqsans/v1/P5sfzZiAbNrN8SB3lQQX7PncwdsvmYpsBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Balsamiq Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Balsamiq Sans Regular'), local('BalsamiqSans-Regular'), url(https://fonts.gstatic.com/s/balsamiqsans/v1/P5sEzZiAbNrN8SB3lQQX7Pnc8dk.ttf) format('truetype');
}
@font-face {
  font-family: 'Balsamiq Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Balsamiq Sans Bold'), local('BalsamiqSans-Bold'), url(https://fonts.gstatic.com/s/balsamiqsans/v1/P5sZzZiAbNrN8SB3lQQX7PncyWUyBY8.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v13/tDbD2oWUg0MKmSA.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(https://fonts.gstatic.com/s/arvo/v13/tDbM2oWUg0MKoZw1yLQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Balsamiq Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Balsamiq Sans Bold Italic'), local('BalsamiqSans-BoldItalic'), url(https://fonts.gstatic.com/s/balsamiqsans/v1/P5sfzZiAbNrN8SB3lQQX7PncwdsvmYpsBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Balsamiq Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Balsamiq Sans Regular'), local('BalsamiqSans-Regular'), url(https://fonts.gstatic.com/s/balsamiqsans/v1/P5sEzZiAbNrN8SB3lQQX7Pnc8dk.ttf) format('truetype');
}
@font-face {
  font-family: 'Balsamiq Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Balsamiq Sans Bold'), local('BalsamiqSans-Bold'), url(https://fonts.gstatic.com/s/balsamiqsans/v1/P5sZzZiAbNrN8SB3lQQX7PncyWUyBY8.ttf) format('truetype');
}
@font-face {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Paytone One Regular'), local('PaytoneOne-Regular'), url(https://fonts.gstatic.com/s/paytoneone/v12/0nksC9P7MfYHj2oFtYm2CiTq.ttf) format('truetype');
}
/* RESPONSIVE NAVIGATION */
.navigation {
  height: 70px;
  background: rgba(0, 0, 0, 0);
}
.brand {
  position: absolute;
  float: left;
  left: 15px;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
.brand img {
  padding-top: 10px;
}
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #fff;
  color: #000;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #ff0000;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 10;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: -7px;
  right: 10px;
  background: #fff;
  height: 69px;
  width: 70px;
}
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
    margin-right: 4px;
    margin-top: 4px;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/* RESPONSIVE NAVIGATION END */
/* BODY */
body,
html {
  font-family: 'Paytone One', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
main {
  line-height: 1.5em;
}
main#contact-success {
  padding: 1em;
}
.content {
  background-color: #ffffff;
}
/* BODY END */
/* IMAGE SLIDER */
#slider-container {
  margin: 100px auto;
  padding: 10px;
  width: 700px;
  border: 1px solid #ccc;
}
#slider {
  display: block;
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0 0 10px;
  overflow: hidden;
}
/* IMAGE SLIDER END */
video {
  width: 100%;
}
#banner-video {
  max-width: 1200px;
  margin: 0 auto;
}
/* FOOTER */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  font-size: 15px;
  margin-top: 2em;
  color: #ffffff;
  display: block;
  height: 200px;
  z-index: 10;
}
footer p {
  font-size: 11px;
  padding: 2em;
  line-height: 20px;
  font-family: sans-serif;
}
.footer-nav {
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 25px;
  float: right;
}
#faq-footer {
  position: relative;
  bottom: -135px;
}
#contact-nav-footer {
  position: relative;
  top: 25px;
  left: 3px;
  padding: 0.1em 1.2em;
}
#faqs-nav-footer {
  position: relative;
  top: 75px;
  left: 100px;
  padding: 0.1em 2em;
}
footer img {
  width: 40px;
  float: right;
}
#facebook-icon {
  position: relative;
  right: 20px;
  top: 20px;
}
#twitter-icon {
  position: relative;
  top: 70px;
  left: 20px;
}
#copyright {
  text-align: center;
  font-size: 7px;
  color: #333333;
  padding-top: 2em;
}
/* FOOTER END */
/* FORMS */
.form-page {
  width: 90%;
  margin: 0 auto;
}
.form-page p {
  font-size: 11px;
  width: 220px;
  margin-bottom: 30px;
}
.form-page label {
  display: block;
  font-size: 11px;
}
#contact-form input#name,
#contact-email {
  border: 1px solid grey;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.form-page input#name,
#age,
#email,
#e-name,
#e-number,
#gi,
#ep-saturday,
#ep-sunday,
#role {
  border: 1px solid grey;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}
textarea#comment,
#special {
  border: 1px solid grey;
  width: 300px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.form-page input#submit {
  text-decoration: none;
  background-color: #ff0000;
  border: none;
  color: white;
  margin-top: 1em;
  padding: 10px 120px;
  text-align: center;
  display: block;
  font-size: 16px;
  border-radius: 25px;
  font-family: 'Paytone One', sans-serif;
}
#contact-form select#party {
  border: 1px solid grey;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}
@media screen and (min-width: 1025px) {
  .form-page {
    width: 100%;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 6em;
  }
  .column {
    float: left;
    width: 50%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .form-page p {
    font-size: 11px;
    width: 500px;
    margin-bottom: 30px;
  }
  .form-page label {
    font-size: 11px;
  }
  #contact-form input#name,
  #contact-email {
    border: 1px solid grey;
    width: 50%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .form-page input#name,
  #age,
  #email,
  #e-name,
  #e-number,
  #role {
    border: 1px solid grey;
    width: 90%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .form-page #gi,
  #ep-saturday,
  #ep-sunday,
  #special {
    border: 1px solid grey;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  textarea#special {
    width: 100%;
    height: 187px;
  }
  textarea#comment {
    border: 1px solid grey;
    width: 80%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .form-page input#submit {
    display: block;
    text-align: center;
    width: 600px;
    height: 60px;
    margin-top: 10px;
    border: 1px solid grey;
    color: #ffffff;
    background-color: #ff0000;
  }
  #contact-form select#party {
    border: 1px solid grey;
    width: 50%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
/* FORMS END */
.faqs-content {
  padding-right: 1em;
  padding-left: 1em;
  font-family: sans-serif;
}
/* COURSE PAGE DROPDOWN */
/* Dropdown Button */
.dropbtn1 {
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid #696969;
}
.dropbtn2 {
  border-top: 1px solid #696969;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.dropbtn3 {
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid #696969;
}
.dropbtn4 {
  font-size: 16px;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #ffffff;
  background-color: #000000;
  border-top: 1px solid #696969;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
.dropbtn5 {
  border-top: 1px solid #696969;
  border-bottom: none;
  border-right: none;
  border-left: none;
  font-size: 16px;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #ffffff;
  background-color: #000000;
}
.dropbtn6 {
  border-top: 1px solid #696969;
  border-right: none;
  border-left: none;
  border-bottom: none;
  font-size: 16px;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #ffffff;
  background-color: #000000;
}
.dropbtn7 {
  font-size: 16px;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  border-top: 1px solid #696969;
}
.dropbtn8 {
  font-size: 16px;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  border-top: 1px solid #696969;
}
.dropbtn9 {
  font-size: 16px;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  border-top: 1px solid #696969;
}
.dropbtn10 {
  font-size: 16px;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  border-top: 1px solid #696969;
}
.dropbtn11 {
  font-size: 16px;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  border-top: 1px solid #696969;
}
.dropbtn1 span {
  margin-left: 15.5em;
}
.dropbtn2 span {
  margin-left: 16em;
}
.dropbtn3 span {
  margin-left: 16.2em;
}
.dropbtn4 span {
  margin-left: 14em;
  color: #ffffff;
}
.dropbtn5 span {
  margin-left: 14.5em;
  color: #ffffff;
}
.dropbtn6 span {
  margin-left: 14.7em;
  color: #ffffff;
}
.dropbtn7 span {
  position: relative;
  top: -10px;
  margin-left: 18em;
}
.dropbtn8 span {
  margin-left: 18em;
  position: relative;
  top: -18px;
}
.dropbtn9 span {
  margin-left: 18em;
  position: relative;
  top: -18px;
}
.dropbtn10 span {
  margin-left: 18em;
  position: relative;
  top: -10px;
}
.dropbtn11 span {
  margin-left: 18em;
  position: relative;
  top: -18px;
}
/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #ff0000;
}
/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: block;
  width: 95%;
  max-width: 330px;
  padding-left: 0.5em;
}
.dropdown2 {
  position: relative;
  display: block;
  width: 95%;
  padding-left: 0.5em;
  max-width: 330px;
}
.dropdown3 {
  position: relative;
  display: block;
  width: 95%;
  padding-left: 0.5em;
  max-width: 330px;
}
.dropdown4 {
  position: relative;
  display: block;
  width: 95%;
  max-width: 300px;
  z-index: 1000;
}
.dropdown5 {
  position: relative;
  display: block;
  width: 95%;
  max-width: 300px;
  z-index: 1000;
}
.dropdown6 {
  position: relative;
  display: block;
  width: 95%;
  z-index: 1000;
}
.dropdown7 {
  position: relative;
  display: block;
  width: 95%;
  padding-left: 0.5em;
  max-width: 325px;
}
.dropdown8 {
  position: relative;
  display: block;
  width: 95%;
  padding-left: 0.5em;
  max-width: 325px;
}
.dropdown9 {
  position: relative;
  display: block;
  width: 95%;
  padding-left: 0.5em;
  max-width: 325px;
}
.dropdown10 {
  position: relative;
  display: block;
  width: 95%;
  padding-left: 0.5em;
  max-width: 325px;
}
.dropdown11 {
  position: relative;
  display: block;
  width: 95%;
  padding-left: 0.5em;
  max-width: 325px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
  display: none;
  z-index: 1;
  background-color: #ffffff;
}
.dropdown-content2 {
  display: none;
  z-index: 1;
  background-color: #ffffff;
}
.dropdown-content3 {
  display: none;
  z-index: 1;
  background-color: #ffffff;
}
.dropdown-content4 {
  display: none;
  z-index: 1;
}
.dropdown-content5 {
  display: none;
  z-index: 1;
  background-color: #000000;
}
.dropdown-content6 {
  display: none;
  z-index: 1;
  background-color: #000000;
}
.dropdown-content7 {
  display: none;
  z-index: 1;
}
.dropdown-content8 {
  display: none;
  z-index: 1;
}
.dropdown-content9 {
  display: none;
  z-index: 1;
}
.dropdown-content10 {
  display: none;
  z-index: 1;
}
.dropdown-content11 {
  display: none;
  z-index: 1;
}
.dropdown-content12 {
  display: none;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content1 p {
  color: black;
  text-decoration: none;
  display: block;
}
.dropdown-content2 p {
  color: black;
  text-decoration: none;
  display: block;
}
.dropdown-content3 p {
  color: black;
  text-decoration: none;
  display: block;
}
.dropdown-content4 p {
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  display: block;
}
.dropdown-content5 p {
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  display: block;
}
.dropdown-content6 p {
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  display: block;
}
.dropdown-content7 p {
  text-decoration: none;
  display: block;
}
.dropdown-content8 p {
  text-decoration: none;
  display: block;
}
.dropdown-content9 p {
  text-decoration: none;
  display: block;
}
.dropdown-content10 p {
  text-decoration: none;
  display: block;
}
.dropdown-content11 p {
  text-decoration: none;
  display: block;
}
.dropdown-content12 p {
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #ddd}*/
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
/* COURSE PAGE DROPDOWN END */
/* COURSE PAGES */
.width-1200 {
  padding-right: 1em;
  padding-left: 1em;
}
.long-course h1 {
  font-family: 'Paytone One', sans-serif;
}
.long-course p {
  font-family: sans-serif;
}
div.diff-level p,
span {
  display: inline-block;
}
div.diff-level p {
  font-size: 15px;
  margin: 0;
}
.price p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  padding-top: 1em;
}
.icons {
  width: 18%;
  min-width: 200px;
}
.icons img {
  display: block;
  width: 35px;
  height: 35px;
  padding-top: 0.5em;
  margin-left: 1em;
}
div.course-details {
  padding-right: 1.5em;
  font-family: sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
}
div.register-button,
div.faqs-button {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
  font-family: 'Paytone One', sans-serif;
}
a.register-btn,
a.faq-btn {
  text-decoration: none;
  background-color: #ff0000;
  border: none;
  color: white;
  margin-top: 1em;
  padding: 10px 120px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}
a.faq-btn {
  padding: 9px 130px;
}
div.faqs-button {
  text-align: center;
  padding-bottom: 1em;
}
#what-to-bring-home {
  position: relative;
  top: -10px;
  background-color: #000000;
  color: #ffffff;
  padding: 2em;
  font-family: sans-serif;
  z-index: 5000;
}
#what-to-bring-home h2 {
  font-family: 'Paytone One', sans-serif;
}
#what-to-bring-home p {
  padding-right: 1em;
}
#what-to-bring {
  background-color: #000000;
  color: #ffffff;
  padding: 2em;
  margin-top: 3em;
  font-family: sans-serif;
}
#what-to-bring h2 {
  font-family: 'Paytone One', sans-serif;
}
#what-to-bring p {
  padding-right: 1em;
}
#cost-includes {
  padding-left: 0.8em;
  margin-top: 3em;
}
#cost-includes h3 {
  font-family: 'Paytone One', sans-serif;
}
#cost-includes ul {
  padding-left: 1.6em;
  list-style: none;
  padding-right: 1em;
}
#cost-includes li {
  font-family: sans-serif;
  position: relative;
  font-size: 16px;
}
#cost-includes li:before {
  content: '';
  position: absolute;
  left: -25px;
  width: 1em;
  height: 1em;
  background: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='18' height='18' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z'/></svg>") no-repeat;
}
#packet-pickup {
  font-size: 14px;
  padding-right: 1em;
  padding-bottom: 1em;
}
#packet-pickup-bottom {
  font-size: 14px;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}
/* HOME PAGE */
#top,
#third-section {
  font-family: sans-serif;
  text-align: center;
  padding: 2em 2em 3em;
}
#second-section {
  padding-left: 1em;
  padding-right: 1em;
  font-family: sans-serif;
}
#second-section img {
  position: relative;
  left: 150px;
  margin-top: 4em;
}
#third-section {
  padding-top: 3em;
  background-color: #000000;
  color: #ffffff;
}
#second-section h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Paytone One', sans-serif;
  padding-top: 3em;
}
table th {
  padding-top: 2em;
}
#fourth-section {
  padding-left: 1em;
  padding-right: 1em;
  font-family: sans-serif;
}
#home-reg-btn {
  padding-bottom: 2em;
}
#packet-pickup-home {
  font-family: sans-serif;
  margin-left: 1em;
  margin-right: 1em;
}
/* DESKTOP RESOLUTION */
@media screen and (min-width: 1025px) {
  header {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  a.weatherwidget-io {
    display: none;
    width: 237px;
    float: right;
    margin-right: 15%;
    border: 15px solid black;
    overflow: visible !important;
    margin-top: 6em !important;
  }
  #weather-container {
    margin-right: 5%;
  }
  section#top.content {
    width: 75%;
    padding-top: 10em;
    padding-bottom: 10em;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
  }
  section#top h2 {
    font-size: 3em;
    font-family: 'Paytone One', sans-serif;
    padding-bottom: 1em;
  }
  section#top p {
    width: 450px;
    font-size: 1em;
    line-height: 30px;
    font-weight: bold;
  }
  section#second-section {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 10em;
  }
  section#second-section h2 {
    margin: 0;
    padding-top: 6em;
    font-size: 2em;
  }
  section#third-section {
    border: 20px solid #000000;
    background-color: #000000;
    width: 100%;
    height: 900px;
  }
  section#third-section img {
    padding-top: 2em;
  }
  section#third-section p {
    line-height: 35px;
  }
  .width-1200 {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
  #home-p-2 {
    float: left;
    width: 30%;
    margin-left: 15%;
    padding-top: 1em;
  }
  #home-p-1 {
    width: 30%;
    margin-left: 15%;
  }
  table {
    font-size: 20px;
    padding-top: 2em;
    padding-bottom: 1em;
  }
  #home-reg-btn {
    float: right;
    margin-right: 5.5em;
  }
  #what-to-bring-home {
    float: left;
    position: relative;
    display: block;
    top: 1px;
    width: 50%;
    background-color: #ffffff;
    color: #000000;
    line-height: 30px;
  }
  #what-to-bring-home h2 {
    padding-bottom: 1em;
  }
  #what-to-bring-home p {
    padding-bottom: 2em;
  }
  #slider-container {
    display: none;
    margin: 100px auto;
    padding: 10px;
    border: 1px solid #ccc;
  }
  #slider {
    display: block;
    padding: 0;
    margin: 0 0 10px;
    height: 300px;
  }
  div.bx-wrapper {
    margin: 0;
    max-width: 800px;
  }
  div.bx-viewport {
    overflow: visible !important;
    max-width: 800px;
  }
  #fourth-section {
    width: 50%;
    display: block;
    float: right;
    line-height: 30px;
  }
  #fourth-section h2 {
    padding-bottom: 1em;
    font-family: 'Paytone One', sans-serif;
  }
  #fourth-section p {
    padding-left: 1.5em;
  }
  #home-bottom {
    padding-top: 10em;
    padding-bottom: 10em;
  }
  .register-button-home {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  div.width-1200px {
    max-width: 1200px !important;
    margin: 0 auto !important;
  }
  .home-dropdown-4 p {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    display: block;
  }
  .home-dropdown-5 p {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    display: block;
  }
  .home-dropdown-6 p {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    display: block;
  }
  .dropbtn4-home {
    color: #000000;
    background-color: #ffffff;
  }
  .dropbtn5-home {
    background-color: #ffffff;
    color: #000000;
  }
  .dropbtn6-home {
    background-color: #ffffff;
    color: #000000;
  }
  .dropbtn4-home span {
    margin-left: 15.5em;
    color: #000000;
  }
  .dropbtn5-home span {
    margin-left: 16em;
    color: #000000;
  }
  .dropbtn6-home span {
    margin-left: 16.2em;
    color: #000000;
  }
  div.faq-home {
    padding-bottom: 4em !important;
  }
  #packet-pickup-home {
    font-family: sans-serif;
    margin-left: 20em;
  }
  div.register-button {
    text-align: left;
  }
  section.faqs-content {
    padding-top: 4em;
  }
  .dropdown4 {
    max-width: 325px;
  }
  .dropdown5 {
    max-width: 325px;
  }
  .dropdown6 {
    max-width: 325px;
  }
  .dropdown7 {
    padding: 1em;
    max-width: 325px;
  }
  .dropdown8 {
    padding: 1em;
    max-width: 325px;
  }
  .dropdown9 {
    padding: 1em;
    max-width: 325px;
  }
  .dropdown10 {
    padding: 1em;
    max-width: 325px;
  }
  .dropdown11 {
    padding: 1em;
    max-width: 325px;
  }
  #footer-home {
    display: block;
    z-index: -100;
    margin-top: 4em;
    clear: left;
  }
}
/* DESKTOP RESOLUTION END */
/*# sourceMappingURL=style.css.map */